# COGS 108 - Data Checkpoint

# Names

- Alexander Huynh
- Ron Lai
- Fernando Lares
- Jerrick Lee
- Dong Pham

<a id='research_question'></a>
# Research Question

Is there a relationship between a game being watched on twitch and the game's number of players in a game per month? We will focus on Twitch.tv average viewers per month of games, while we will use Steam to gather data on the games being played on steam per month average.

# Dataset(s)

- Dataset Name: Twitch_game_data.csv
- Link to the dataset: https://www.kaggle.com/rankirsh/evolution-of-top-games-on-twitch
- Number of observations: 14400
<br>This dataset has Twitch metrics sorted by year and month. We will be focusing specifically on each game's Hour_watched, Avg_viewer_ratio, Peak_viewers, and Avg_viewers.<br><br>

- Dataset Name: Valve_Player_Data.csv
- Link to the dataset: https://www.kaggle.com/jackogozaly/steam-player-data?select=Valve_Player_Data.csv
- Number of observations: 5271
<br>This dataset has Steam metrics sorted by year and month. We will be focusing specifically on each game's Avg_players as well as Peak_Players.

<b>How we plan to combine these datasets</b><br>
We plan to combine both datasets through the dates (month and year) as well as the game being played. This way we will have one set that tells us how many people are watching a game as well as playing by month and year.

# Setup

In [1]:
## YOUR CODE HERE
import numpy as np
import pandas as pd

# Data Cleaning

Describe your data cleaning steps here.

In [26]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

#Steam = pd.read_csv('steam_games.csv')
#Steam.head()

In [10]:

Twitch = pd.read_csv('Twitch_game_data.csv', encoding='cp1252')
Twitch.columns

Index(['Rank', 'Game', 'Month', 'Year', 'Hours_watched', 'Hours_Streamed',
       'Peak_viewers', 'Peak_channels', 'Streamers', 'Avg_viewers',
       'Avg_channels', 'Avg_viewer_ratio'],
      dtype='object')

In [24]:
watchers = Twitch[['Year', 'Month', 'Game', 'Hours_watched', 'Avg_viewer_ratio', 'Peak_viewers', 'Avg_viewers']]

In [25]:
watchers.head()

,Year,Month,Game,Hours_watched,Avg_viewer_ratio,Peak_viewers,Avg_viewers
0,2016,1,League of Legends,94377226,69.29,530270,127021
1,2016,1,Counter-Strike: Global Offensive,47832863,57.62,372654,64378
2,2016,1,Dota 2,45185893,104.26,315083,60815
3,2016,1,Hearthstone,39936159,169.29,131357,53749
4,2016,1,Call of Duty: Black Ops III,16153057,14.03,71639,21740

In [20]:
Player = pd.read_csv('Valve_Player_Data.csv')
Player.columns

Index(['Month_Year', 'Avg_players', 'Gain', 'Percent_Gain', 'Peak_Players',
       'URL', 'Date', 'Game_Name'],
      dtype='object')

In [22]:
avg_counts = Player[['Month_Year', 'Avg_players', 'Peak_Players', 'Date', 'Game_Name']]

In [23]:
avg_counts.head()

,Month_Year,Avg_players,Peak_Players,Date,Game_Name
0,September 2021,512350.92,942519,2021-09-01,Counter Strike: Global Offensive
1,August 2021,512081.96,802544,2021-08-01,Counter Strike: Global Offensive
2,July 2021,506067.36,763523,2021-07-01,Counter Strike: Global Offensive
3,June 2021,549347.08,929940,2021-06-01,Counter Strike: Global Offensive
4,May 2021,659888.89,1087197,2021-05-01,Counter Strike: Global Offensive

In [29]:
Twitch['Month'].value_counts()

1     1200
2     1200
3     1200
4     1200
5     1200
6     1200
7     1200
8     1200
9     1200
10    1200
11    1200
12    1200
Name: Month, dtype: int64

In [15]:
Player.isna().sum().sum()
# counting the NAN values in player

196

In [16]:
Twitch.isna().sum().sum()
#counting the Nan values in Twitch data set

1